#continut{
    background-color: rgb(181, 211, 221);
    border-top: solid 1px rgb(187, 225, 238);
    border-bottom: solid 1px rgb(168, 204, 216);
    width: 980px;
    margin: 20px auto 0 auto;
    position: relative;
}

#header{
    height: 150px;
    padding-top: 10px;
}

#logo{
    left: 150px;
    line-height: 70px;
    height: 70px;
    top: 0;
}

#meniu{
    width: 940px;
    background-color: rgb(141, 177, 189);
    margin: 20px 0 0 0;
    height: 55px;
    padding: 0 20px 0 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 55px;
}

#meniu ul li{
    display: inline;
    padding: 0 10px 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

#continut-pagina{
    position: relative;
    width: 940px;
    background-color: rgb(240, 251, 255);
    padding: 20px;
    height: 900px;
    margin: 0 auto 0 auto;
}