#continut{
    background-color: rgb(96, 206, 243);
    border-top:solid 1px rgb(68, 115, 131);
    border-bottom: solid 1px rgb(81, 158, 184);
    width: 980px;
    margin: 20px auto 0 auto;
    position: relative;
}
#header{
    height:150px;
    padding:10px;
}
#logo{
    left:150px;
    line-height:70px;
    height:70px;
    top:0;
    text-align: center;
}
#meniu{
    width:940px;
    background-color: rgb(68, 155, 184);
    margin:20px 0 0 0;
    height:55px;
    padding:0 20px 0 20px;
    position:absolute;
    left: 0;
    bottom:0;
    line-height:55px;
}
#meniu ul li{
    display:inline;
    padding: 0 10px 0 10px;
    text-transform:uppercase;
    text-decoration: none;
    color:white;
}
#myCarousel{
    position: relative;
    width:940px;
    background-color:rgb(240, 251, 255);
    padding:20px;
    margin: 0 auto 0 auto;
}
#titlu{
    font-size: 30px;
    text-align: center;
}
#titluSecund{
    text-indent: 50px;
}
#market{
    text-align: center;
    font-size: 50px;
}
.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

@media (max-width: 450px) {
.gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
}
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}
    

@media (max-width: 400px) {
.btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    }
}

.row{
    width: 980px;
    margin: 20px auto 0 auto;
    position: relative;
    text-align: center;
}